# Токен вашего Telegram-бота (из @BotFather). Нужен для проверки подлинности initData.
BOT_TOKEN=8762994126:AAEPxOKqTNMj3BHH8LUC7EzjhB2Iio06zKQ

# Порт, на котором поднимется сервер
PORT=3000

# true = ОТКЛЮЧИТЬ проверку initData (только для локального тестирования без реального Telegram!)
# В проде обязательно оставить false.
DEV_MODE=true
